slack-experience-api/src/main/mule/input-process-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="e00b300c-c22c-4277-9524-4e85b73adc54">
		<http:request-connection host="${process.api.host}" />
	</http:request-config>
	<flow name="input-process-apiFlow" doc:id="4890abbb-e78e-40cf-919e-760d983216ee" >
		<vm:listener queueName="input-queue" doc:name="input_queue_Listener" doc:id="c739a5dd-78b6-428b-8164-a46e83bf9629" config-ref="VM_Config" numberOfConsumers="1"/>
		<logger level="INFO" doc:name="Logger" doc:id="2327487c-7e24-4cf0-9257-57372a41b612" message="process-api-request:#[payload]"/>
		<http:request method="POST" doc:name="Support Operations API" doc:id="8b881b18-4007-42ab-9b1c-a695c768d7d5" config-ref="HTTP_Request_configuration" path="${process.api.request.path}" sendCorrelationId="ALWAYS" correlationId="#[payload.text]">
			<http:query-params ><![CDATA[#[output application/java
---
{
"client_id":"6c972960d7cc4b66a6d7f72c283ef6c7",
"client_secret":"B433370C415a4d52A5564930944331b3",
"action":payload.action
}]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="5d5b7dff-207b-4558-936c-194243366c37" message="response:#[payload]"/>
		<http:request method="POST" doc:name="Slack Channel Request" doc:id="40e4911d-7967-4935-a6b7-9eb3f3146cca" url="#[payload.response_url]">
			<http:body ><![CDATA[#[%dw 2.0
output application/json
---
{
"text":payload.text
}]]]></http:body>
		</http:request>
	</flow>
</mule>
