ping-alert-bot/src/main/mule/ping-check.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:cloudhub="http://www.mulesoft.org/schema/mule/cloudhub"
	xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/cloudhub http://www.mulesoft.org/schema/mule/cloudhub/current/mule-cloudhub.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
	<flow name="response-Validator-Flow" doc:id="f525f218-e9cc-4480-833e-d026275b44f1" >
		<try doc:name="Try" doc:id="6c6f8e9a-a147-4539-bcb1-3c2c91bc0927" >
			<ee:transform doc:name="payload &gt; 50" doc:id="3a9f533a-979b-4ebd-a74e-6a4b5f786e5f" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
if (payload > 50) false else true ]]></ee:set-payload>
				</ee:message>
				<ee:variables >
				</ee:variables>
			</ee:transform>
			<logger level="INFO" doc:name="flag" doc:id="f5137316-2dd2-4a64-8733-909c3d2c8697" message="flag:#[payload]"/>
			<validation:is-true doc:name="Is true" doc:id="c1a131c4-b817-43ee-9674-3796c93085e8" expression="#[payload]" message="packet loss more than 50 %"/>
			<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="baad0777-48cc-40a4-800b-d5243b8882cf" type="ANY">
					<logger level="INFO" doc:name="Error" doc:id="96937a4e-c9d5-4941-afa8-c1fe1fd30708" message="cached inside try scope:#[error]" />
					<ee:transform doc:name="Error Payload" doc:id="d3097f03-b29d-410f-96d4-86aa0ce72e92" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	text:vars."host" ++ "|" ++ vars."ping-output"
}
]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<logger level="INFO" doc:name="input to chatbot" doc:id="b922d3dc-b11e-4c15-83f1-a3c7bf7a17d6" message="input to chatbot:#[payload]"/>
					<flow-ref doc:name="google-chatbot-pocFlow" doc:id="b1336822-2fb1-4b8f-bc7b-f62bdea88173" name="google-chatbot-pocFlow"/>
				</on-error-continue>
			</error-handler>
		</try>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="3a49afa1-19ef-4c1f-9b36-c50c0999de0a" type="ANY">
				<logger level="INFO" doc:name="Logger" doc:id="3d91d5a4-ecd8-4822-93fa-75749d7e01e1" message="on error continue called:#[error]"/>
			</on-error-continue>
		</error-handler>
	</flow>
	<flow name="ping-checkFlow" doc:id="d955d50f-c895-4833-bfd1-755319f16f65" >
		<scheduler doc:name="Every 10 mins" doc:id="d4122316-7d9f-4e32-9a30-3896abd1ea52" >
			<scheduling-strategy >
				<fixed-frequency frequency="10" timeUnit="MINUTES"/>
			</scheduling-strategy>
		</scheduler>
		<ee:transform doc:name="host collection" doc:id="cd8cc51a-52b6-48bd-abc8-0bf2d70838ef" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
p('DIV.MULE.HOST.NAMES') splitBy ","]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="eff555a5-cb76-4fc7-ae53-56670641846b" message="host list:#[payload]"/>
		<foreach doc:name="For Each Host" doc:id="1907c3c7-c8d8-4255-831a-40cd041dba6f" collection="#[payload]">
			<ee:transform doc:name="wait 10 s" doc:id="0ad8adcb-b1c4-4f50-8fde-07a4e1375c81" >
				<ee:message >
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="wait" ><![CDATA[%dw 2.0
import * from dw::Runtime
output application/java
---
{counter:vars.counter} wait 10000]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<logger level="INFO" doc:name="Logger" doc:id="0eede3fd-ffb3-4a78-a147-5efe1635bc50" message="pinging :#[payload]" />
			<ee:transform doc:name="ping" doc:id="ede12d00-c3a8-4096-992c-715397fe1f4d">
			<ee:message>

			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="host"><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-variable>
					<ee:set-variable variableName="ping-output" ><![CDATA[%dw 2.0
output application/java
import java!com::mulesoft::tool::network::NetworkUtils
---
//NetworkUtils::ping(attributes.queryParams.host)
NetworkUtils::ping(payload)
]]></ee:set-variable>
			</ee:variables>
		
</ee:transform>
			<logger level="INFO" doc:name="ping output" doc:id="53ee7eb9-c3c4-45e6-8d41-21264c427442" message='ping output:#[vars."ping-output"]' />
			<set-payload value='#[vars."ping-output"]' doc:name='vars."ping-output"' doc:id="41858c44-c0d4-461a-be4a-dfaa66d66ecb" />
			<ee:transform doc:name="status check" doc:id="349ee048-0027-4f34-88f8-786388030aee">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
import * from dw::core::Strings
var packetLoss=if(payload contains "packet loss")replace(trim(substringAfterLast(substringBefore(payload,"packet loss"),",")),"%") with "" else 0
output application/json
---
packetLoss as Number

]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			<logger level="INFO" doc:name="ping status" doc:id="afb6b811-5ac5-4552-8154-53c51266bd53" message="ping status:#[payload]" />
			<flow-ref doc:name="response-Validator-Flow" doc:id="890b62a4-1b42-4592-b1b9-f18ecf8bd216" name="response-Validator-Flow" />
		</foreach>
		<logger level="INFO" doc:name="completed" doc:id="cc715c63-3285-4dde-970a-de0a5662c64c" message="ping check completed !!!!!!!!!!!!!!!"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="68cf6d9c-0b03-496f-9e13-bf76a0aa5556" >
				<logger level="INFO" doc:name="Logger" doc:id="ed4f5106-43d2-44bc-9480-52174fc01679" message="on error propogate called:#[error]"/>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
